<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061330149592-dm747murevpojbuce6snh328r7j7mjtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061330149592-dm747murevpojbuce6snh328r7j7mjtf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061330149592-ocoljf88ogc1num5uf5u49qpkaq30kae.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJSnPd1-vKmg5VQJTUM0PcKFs2hrJVJJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1061330149592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsoles.mobile.noteflush</string>
	<key>PROJECT_ID</key>
	<string>noteflush</string>
	<key>STORAGE_BUCKET</key>
	<string>noteflush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061330149592:ios:c10b649b313b8bc2</string>
	<key>DATABASE_URL</key>
	<string>https://noteflush.firebaseio.com</string>
</dict>
</plist>